---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import Featured from "@/components/Featured.astro";
import Faqs from "@/components/Faq.astro";
import Input from "@/components/Input.astro";
import Bloglist from "@/components/Bloglist.astro";
---

<Layout
	title="Unum Exemen | A Personalized Catholic Examination of Conscience"
	description="An online Catholic examination of conscience guide to help prepare a good confession. Unum Examen is designed to aid in preparing for confession to by walking through personalized, but common scenarios of both mortal and venial sins."
	lastUpdated="2024-11-12"
>
    <div class="text-center w-full mt-4 p-8">
		<h1 class="text-center text-3xl font-bold">
			A Personalized Catholic Examination of Conscience
		</h1>
		<p class="text-center text-lg mt-4">
			Privacy centric, powered by AI.
		</p>
	</div>
	<div class="w-full flex justify-center mt-4 mb-4">
		<Input />
	</div>
	<div class="w-full mt-4 mb-4 p-12 border-t-2  border-gray-800">
		<Featured />
	</div>
	<div class="w-full mt-4 mb-4 p-12 border-t-2 border-b-2 border-gray-800">
		<Bloglist />
	</div>
	<div class="w-full flex justify-center">
		<Faqs />
	</div>
</Layout>
