---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import Logo from "@/components/Logo.astro";
import BasicList from "@/components/BasicList.astro";
---

<Layout
	title="Unum Exemen"
	description="The ultimate Catholic Examination of Conscience."
	lastUpdated="2024-09-20"
>
	<main>
		<div class="w-full mt-24 mb-4 flex items-center justify-center">
			<div class="w-3/4 items-center justify-center">
				<div>
					<Logo />
				</div>
				<p class="text-center text-xl my-6 text-gray-600">
					The ultimate Catholic Examination of conscience.
				</p>
			</div>
		</div>
		<div class="w-full p-12">
			<BasicList />
		</div>
	</main>
</Layout>
