---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import Logo from "@/components/Logo.astro";
import BasicList from "@/components/BasicList.astro";
import Featured from "@/components/Featured.astro";
---

<Layout
	title="Unum Exemen"
	description="The ultimate Catholic Examination of Conscience."
	lastUpdated="2024-09-20"
>
	
		<div class="w-full p-12">
			<Featured />
		
		</div>
		<div>
			<h2 class="text-center">Comprehensive List of over 650 examination questions</h2>
				<BasicList />
		</div>

</Layout>
