---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import Featured from "@/components/Featured.astro";
import Faqs from "@/components/Faq.astro";
import Input from "@/components/Input.astro";
import Bloglist from "@/components/Bloglist.astro";
---

<Layout
	title="Unum Exemen | Prepare for a Good Confession with AI"
	description="Get a personalized Catholic examination of conscience and prepare a good confession through common scenarios."
	lastUpdated="2025-1-24"
>
	<div class="body_bg"></div>
	<div class="text-center w-full mt-4 lg:mt-24 p-8">
		<h1 class="text-center text-5xl md:text-6xl">
			A Personalized Examination of Conscience.
		</h1>
		<h2 class="text-center text-2xl mt-4">
			Curating over 44,000 Catholic examination questions with AI.
		</h2>
	</div>
	<div class="w-full flex justify-center mt-4 mb-4">
		<Input />
	</div>
	<!-- <div class="w-full mt-4 mb-4 p-12">
		<Featured />
	</div> -->

	<div class="w-full mt-4 mb-4 p-12 border-t-2 border-b-2 border-gray-800">
		<Bloglist />
	</div>
	<div class="w-full flex justify-center">
		<Faqs />
	</div>
	<div class="w-full flex justify-center mt-12 mb-12">
		<a href="/examinations/directory/" class="text-md text-center">
			Directory of Personalized Examinations
		</a>
	</div>
</Layout>
