---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Unum Examin | Newsletter"
    description="Navigate your spiritual journey with our biweekly insights on reconciliation, contemporary Catholic living, and timeless Church teachings."
    reader={true}
>
    <div class="text-center w-full mt-4 lg:mt-24 md:p-8">
        <h1 class="text-center">
            Break the hooks of sin and build courage for public witness.
        </h1>
        <h3 class="text-center text-2xl p-6 mt-2">
            A free, Catholic email newsletter.
        </h3>
        <div class="absolute p-2 md:p-0 left-0 w-full">
            <div
            style="min-height: 58px;max-width: 440px;margin: 0 auto;width: 100%"
        >
            <script
                src="https://cdn.jsdelivr.net/ghost/signup-form@~0.2/umd/signup-form.min.js"
                data-button-color="#F2921D"
                data-button-width="100px"
                data-button-text-color="#FFFFFF"
                data-site="https://mail.unumexamen.com/"
                data-locale="en"
                async
            ></script>
        </div>
        </div>
        <h3 class="mt-24">Transformative Insights Featuring</h3>
        <div class="w-full flex justify-center rounded-xl">
            <div
                class="flex flex-row flex-wrap justify-center text-xl font-light"
            >
                <div
                    class="flex flex-col items-center bg-black w-64 p-6 m-6 rounded-md border-2 border-[--subtle-edge]"
                >
                    <img
                        src="/img/draw-chain.jpg"
                        alt="placeholder"
                        class="hidden md:block h-24 w-24 object-cover rounded-lg"
                    />
                    <div>Theology of sin, penance, and repentance</div>
                </div>
                <div
                    class="flex flex-col items-center bg-black w-64 p-6 m-6 rounded-md border-2 border-[--subtle-edge]"
                >
                    <img
                        src="/img/draw-cross.jpg"
                        alt="placeholder"
                        class="hidden md:block h-24 w-24 object-cover rounded-lg"
                    />
                    <div>Seasonal themes and Catholic traditions</div>
                </div>
                <div
                    class="flex flex-col items-center bg-black w-64 p-6 m-6 rounded-md border-2 border-[--subtle-edge]"
                >
                    <img
                        src="/img/draw-barb.jpg"
                        alt="placeholder"
                        class="hidden md:block h-24 w-24 object-cover rounded-lg"
                    />
                    <div>Trending worldly influences and snares</div>
                </div>
                <div
                    class="flex flex-col items-center bg-black w-64 p-6 m-6 rounded-md border-2 border-[--subtle-edge]"
                >
                    <img
                        src="/img/draw-candle.jpg"
                        alt="placeholder"
                        class="hidden md:block h-24 w-24 object-cover rounded-lg"
                    />
                    <div>Wisdom from saints and the faithful</div>
                </div>
            </div>
        </div>
    </div>
</Layout>
