---
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table"
import AllList from "./AllList.astro"
---
<Table>
    <TableCaption>A list of your recent invoices.</TableCaption>
    <AllList

  </Table>
  