---

---

<div class="flex flex-col ml-4 mr-4 w-full lg:w-[48rem] lg:ml-0 lg:mr-0">
    <div class="text-2xl text-center m-4">
        <h3 class="">Frequently Asked Questions</h3>
    </div>
    <div class="">
        <details class="m-2">
            <summary class="text-lg cursor-pointer">What an examination of conscience?</summary>
            <p class="text-left mt-4">
                An examination of conscience is a prayerful self-reflection of your thoughts, words, and actions to identify sins committed since your last confession. It involves reviewing questions, the Ten Commandments, Church teachings, and your personal behavior to prepare for a thorough confession.
            </p>
        </details>
    </div>
    <div class="max-w-4xl">
        <details class="m-2">
            <summary class="text-lg cursor-pointer">Why should I go to confession?</summary>
            <p class="text-left mt-4">
                Catholics are encouraged to confess because it provides spiritual healing and freedom through God's mercy and forgiveness of sins. The Sacrament of Reconciliation restores our relationship with God and the Church, while offering grace to help avoid future sins.
            </p>
        </details>
    </div>
    <div >
        <details class="m-2">
            <summary class="text-lg cursor-pointer">I haven't been to confession in years, where do I start?</summary>
            <p class="text-left mt-4">
                Start by examining your conscience using a the selections above to recall your sins since your last confession. When ready, simply tell the priest it has been several years and ask for guidance - they will help walk you through the process with patience and understanding.
            </p>
        </details>
    </div>
    <div >
        <details class="m-2">
            <summary class="text-lg cursor-pointer">How do you protect my privacy?</summary>
            <p class="text-left mt-4">
                While you can find a range of examinations online, Unum Examen is unique in that it does not store any personal data. We do not track, store, or share any information about you or your examination. Your privacy is our top priority.
            </p>
        </details>
    </div>
    <div >
        <details class="m-2">
            <summary class="text-lg cursor-pointer">What does AI have to do with Unum Examen?</summary>
            <p class="text-left mt-4">
                AI is a powerful tool and Unum Examen use complex models to help stage and personalize your examination.
            </p>
        </details>
    </div>
    
</div>
