---

---

<div class="flex flex-col md:w-1/2 m-4">
    <div class="text-2xl text-center">
        <h3 class="">Frequently Asked Questions</h3>
    </div>
    <div class="">
        <details class="m-2">
            <summary class="text-lg">What is Unum Examen?</summary>
            <p class="text-left mt-4">
                Unum Examen is an online Catholic examination of conscience
                guide to help prepare a good confession. Unum Examen is designed
                to aid in preparing for confession to by walking through
                personalized, but common scenarios of both mortal and venial
                sins.
            </p>
        </details>
    </div>
    <div class="max-w-4xl">
        <details class="m-2">
            <summary class="text-lg">What is Unum Examen?</summary>
            <p class="text-left mt-4">
                Unum Examen is an online Catholic examination of conscience
                guide to help prepare a good confession. Unum Examen is designed
                to aid in preparing for confession to by walking through
                personalized, but common scenarios of both mortal and venial
                sins.
            </p>
        </details>
    </div>
    <div >
        <details class="m-2">
            <summary class="text-lg">What is Unum Examen?</summary>
            <p class="text-left mt-4">
                Unum Examen is an online Catholic examination of conscience
                guide to help prepare a good confession. Unum Examen is designed
                to aid in preparing for confession to by walking through
                personalized, but common scenarios of both mortal and venial
                sins.
            </p>
        </details>
    </div>
</div>
