---
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
---

<div class="text-center bg-slate-800 pt-2 pb-2 rounded-sm">

    <h2 class="text-white">Curated Examinations</h2>

    <div class="w-full flex flex-wrap justify-center">
        <Card className="text-center w-72 m-6 p-6">
            <CardHeader>
                <CardTitle>College or trade single guy</CardTitle>
            </CardHeader>
            <CardDescription>
                Male, Single, No Kids, Age 18-24
            </CardDescription>
        </Card>
        <Card className="text-center w-72 m-6 p-6">
            <CardHeader>
                <CardTitle>College or trade single woman</CardTitle>
            </CardHeader>
            <CardDescription>
                Female, Single, No Kids, Age 18-24
            </CardDescription>
        </Card>
        <Card className="text-center w-72 m-6 p-6">
            <CardHeader>
                <CardTitle>Man on a mission</CardTitle>
            </CardHeader>
            <CardDescription>
                Male, Single, No Kids, Early Career, Age 25-34
            </CardDescription>
        </Card>
        <Card className="text-center w-72 m-6 p-6">
            <CardHeader>
                <CardTitle>Girlboss</CardTitle>
            </CardHeader>
            <CardDescription>
                Female, Single, No Kids, Early Career, Age 25-34
            </CardDescription>
        </Card>
        <Card className="text-center w-72 m-6 p-6">
            <CardHeader>
                <CardTitle>Single Mom</CardTitle>
            </CardHeader>
            <CardDescription> Female, Single, Kids </CardDescription>
        </Card>
        <Card className="text-center w-72 m-6 p-6">
            <CardHeader>
                <CardTitle>Single Dad</CardTitle>
            </CardHeader>
            <CardDescription> Male, Single, Kids </CardDescription>
        </Card>
        <Card className="text-center w-72 m-6 p-6">
            <CardHeader>
                <CardTitle>Family Guy</CardTitle>
            </CardHeader>
            <CardDescription> Male, Married, Kids </CardDescription>
        </Card>
        <Card className="text-center w-72 m-6 p-6">
            <CardHeader>
                <CardTitle>Mama Bear</CardTitle>
            </CardHeader>
            <CardDescription> Female, Married, Kids </CardDescription>
        </Card>
    </div>
</div>
