---

---
<div class="m-4 text-lg w-full flex justify-center">
    <div class="flex flex-wrap justify-center lg: max-w-6xl">
        <a class="m-4 border-cyan-800 border-2 rounded-md p-2 hover:bg-slate-700" title="this goes" href="/">Examination for students</a>
        <a class="m-4 border-cyan-800 border-2 rounded-md p-2 hover:bg-slate-700" title="this goes" href="/">Examination for students</a>
        <a class="m-4 border-cyan-800 border-2 rounded-md p-2 hover:bg-slate-700" title="this goes" href="/">Examination for students</a>
        <a class="m-4 border-cyan-800 border-2 rounded-md p-2 hover:bg-slate-700" title="this goes" href="/">Examination for students</a>
        <a class="m-4 border-cyan-800 border-2 rounded-md p-2 hover:bg-slate-700" title="this goes" href="/">Examination for students</a>
        <a class="m-4 border-cyan-800 border-2 rounded-md p-2 hover:bg-slate-700" title="this goes" href="/">Examination for students</a>
        <a class="m-4 border-cyan-800 border-2 rounded-md p-2 hover:bg-slate-700" title="this goes" href="/">Examination for students</a>
        <a class="m-4 border-cyan-800 border-2 rounded-md p-2 hover:bg-slate-700" title="this goes" href="/">Examination for students</a>
        <a class="m-4 border-cyan-800 border-2 rounded-md p-2 hover:bg-slate-700" title="this goes" href="/">Examination for students</a>

    </div>
</div>