---
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
---

<div class="text-center pt-2 pb-2 rounded-sm">
    <h2>Curated Examinations</h2>
    <div class="w-full flex flex-wrap justify-center">
       <Card className="text-center w-72 m-6 p-6 bg-[var(--secondary-background)]">
            <CardHeader>
                <CardTitle
                    ><a href="/examinations/male-18-24-single-nokids/"
                        >College or trade single guy</a
                    ></CardTitle
                >
            </CardHeader>
            <CardDescription className="text-[var(--secondary-text-color)]" className="text-[var(--secondary-text-color)]">
                Male, Single, No Kids, Age 18-24
            </CardDescription>
        </Card>
       <Card className="text-center w-72 m-6 p-6 bg-[var(--secondary-background)]">
            <CardHeader>
                <CardTitle
                    ><a href="/examinations/female-18-24-single-nokids/"
                        >College or trade single woman</a
                    ></CardTitle
                >
            </CardHeader>
            <CardDescription className="text-[var(--secondary-text-color)]">
                Female, Single, No Kids, Age 18-24
            </CardDescription>
        </Card>
       <Card className="text-center w-72 m-6 p-6 bg-[var(--secondary-background)]">
            <CardHeader>
                <CardTitle
                    ><a href="/examinations/male-25-34-single-nokids/"
                        >Man on a mission</a
                    ></CardTitle
                >
            </CardHeader>
            <CardDescription className="text-[var(--secondary-text-color)]">
                Male, Single, No Kids, Early Career, Age 25-34
            </CardDescription>
        </Card>
       <Card className="text-center w-72 m-6 p-6 bg-[var(--secondary-background)]">
            <CardHeader>
                <CardTitle
                    ><a href="/examinations/female-25-34-single-nokids/"
                        >Girlboss</a
                    ></CardTitle
                >
            </CardHeader>
            <CardDescription className="text-[var(--secondary-text-color)]">
                Female, Single, No Kids, Early Career, Age 25-34
            </CardDescription>
        </Card>
       <Card className="text-center w-72 m-6 p-6 bg-[var(--secondary-background)]">
            <CardHeader>
                <CardTitle
                    ><a href="/examinations/female-25-34-single-kids/"
                        >Single Mom</a
                    ></CardTitle
                >
            </CardHeader>
            <CardDescription className="text-[var(--secondary-text-color)]"> Female, Single, Kids </CardDescription>
        </Card>
       <Card className="text-center w-72 m-6 p-6 bg-[var(--secondary-background)]">
            <CardHeader>
                <CardTitle
                    ><a href="/examinations/male-25-34-single-kids/"
                        >Single Dad</a
                    ></CardTitle
                >
            </CardHeader>
            <CardDescription className="text-[var(--secondary-text-color)]"> Male, Single, Kids </CardDescription>
        </Card>
       <Card className="text-center w-72 m-6 p-6 bg-[var(--secondary-background)]">
            <CardHeader>
                <CardTitle
                    ><a href="/examinations/male-25-34-married-kids/"
                        >Family Guy</a
                    ></CardTitle
                >
            </CardHeader>
            <CardDescription className="text-[var(--secondary-text-color)]"> Male, Married, Kids </CardDescription>
        </Card>
       <Card className="text-center w-72 m-6 p-6 bg-[var(--secondary-background)]">
            <CardHeader>
                <CardTitle
                    ><a href="/examinations/female-25-34-married-kids/"
                        >Mama Bear</a
                    ></CardTitle
                >
            </CardHeader>
            <CardDescription className="text-[var(--secondary-text-color)]"> Female, Married, Kids </CardDescription>
        </Card>
    </div>
</div>
