---

---

<div class="border-2 border-gray-700 rounded-lg m-8 p-8">
    <div class="flex flex-wrap justify-center">
        <div class="h-10 flex items-center ml-4 mr-2 text-xl">I am a</div>
        <div class="mr-4">
            <select
                class="bg-transparent font-bold text-xl mt-2  text-blue-400 transition duration-300 ease focus:outline-none appearance-none cursor-pointer"
            >
                <option value="bucharest">Married</option>
                <option value="london">Single</option>
                <option value="london">Widowed</option>
                <option value="london">Divorced</option>
                <option value="london">Dating</option>
                <option value="london">Seperated</option>
            </select>
        </div>
        <div class="mr-2">
            <select
                class="bg-transparent font-bold text-xl mt-2  text-blue-400 transition duration-300 ease focus:outline-none appearance-none cursor-pointer"
            >
                <option value="bucharest">18-24 Male</option>
                <option value="london">18-24 Female</option>
            </select>
        </div>
        <div class="mr-2">
            <select
                class="bg-transparent font-bold text-xl mt-2  text-blue-400 transition duration-300 ease focus:outline-none appearance-none cursor-pointer"
            >
                <option value="bucharest">with children</option>
                <option value="london">without children</option>
            </select>
        </div>
    </div>
    <button class="bg-blue-700 text-white rounded-lg p-2 mt-4 w-full">Get Started</button>
</div>
