---

---

<div class="bg-transparent-1 border-2 border-gray-300 rounded-lg m-8 p-8 primary-input">
    <div class="flex flex-wrap justify-center">
          <div class="h-10 flex justify-center w-full text-xl">I am a...</div>
        <div>
          
        <div class="m-2 border-2 p-2 border-[--subtle-edge]">
            <label class="sr-only" for="marital-status">
                Marital Status
              </label>
            <select
                aria-label="Marital Status"
                id="marital-status"
                class="bg-transparent font-bold text-xl m-1 text-center text-[--secondary-text-color] transition duration-300 ease focus:outline-none appearance-none cursor-pointer"
            >
                <option value="bucharest">Married</option>
                <option value="london">Single</option>
                <option value="london">Widowed</option>
                <option value="london">Divorced</option>
                <option value="london">Dating</option>
                <option value="london">Seperated</option>
            </select>
        </div>
        </div>
        <div>
            <!-- <div class="h-10 flex items-center ml-4 mr-4 text-xl">and a</div> -->
            <div class="m-2 border-2 p-2 border-[--subtle-edge]">
            <label class="sr-only" for="age-sex">
                Age/Sex
                </label>
            <select
                aria-label="Age/Sex"
                class="bg-transparent font-bold text-xl m-1 text-center text-[--secondary-text-color] transition duration-300 ease focus:outline-none appearance-none cursor-pointer"
                id="age-sex"
                >
                <option value="bucharest">18-24 Male</option>
                <option value="london">18-24 Female</option>
            </select>
        </div>
        </div>
        <div>
            <div class="m-2 border-2 p-2 border-[--subtle-edge]">
                <label class="sr-only" for="parental-status">Parental Status</label>
                <select
                    id="parental-status"
                    aria-label="Parental Status"
                    class="bg-transparent font-bold text-xl m-1 text-center text-[--secondary-text-color] transition duration-300 ease focus:outline-none appearance-none cursor-pointer"
                >
                    <option value="bucharest">with children</option>
                    <option value="london">without children</option>
                </select>
            </div>
            <!-- <div class="h-10 flex items-center ml-4 mr-4 text-xl">children</div> -->
        </div>
        </div>
    <button class="bg-[--primary-click] text-white rounded-lg p-2 mt-4 w-full">Get My Examination</button>
</div>
