---
import Layout from "@/layouts/Layout.astro"
import {
    Table,
      TableBody,
      TableCell,
      TableRow,
    } from "@/components/ui/table"
---
<Layout
    title="Unum Exemen"
    description="The ultimate Catholic Examination of Conscience for Adult Female Early Career."
    lastUpdated="2024-09-24">
    <h2 class="text-center">Examination for Adult Female Early Career</h2>
    <Table className="m-4">
    <TableBody>
        <TableRow><TableCell>When was the last time I took God's name in vain, perhaps using it as an exclamation of frustration or annoyance, without intending to show disrespect?</TableCell></TableRow>
        <TableRow><TableCell>When attending Mass on Sundays, have I prioritized it over other obligations, such as work commitments or personal activities?</TableCell></TableRow>
        <TableRow><TableCell>Have I put my relationship or personal goals before attending Sunday Mass, especially when it conflicts with other commitments?</TableCell></TableRow>
        <TableRow><TableCell>Did I use language that dishonors the name of Jesus, even in jest or frustration?</TableCell></TableRow>
        <TableRow><TableCell>Have I used language that dishonors God as a curse, even in thought or joking manner?</TableCell></TableRow>
        <TableRow><TableCell>Did I schedule work, meetings, or events that involved others on a Sunday, potentially disrupting their rest and relaxation?</TableCell></TableRow>
        <TableRow><TableCell>Did I spend quality time with my loved ones to show them love and care, rather than letting work responsibilities take over?</TableCell></TableRow>
        <TableRow><TableCell>Have I taken unfair advantage of others for personal gain, perhaps by not paying them what they were owed?</TableCell></TableRow>
        <TableRow><TableCell>Did I deny God's existence through my careless conversation with friends while discussing various philosophical topics?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever questioned God's existence when faced with unexpected challenges or uncertainty, causing me to doubt His sovereignty and goodness?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time I hid my true beliefs to avoid conflict or judgment from others?</TableCell></TableRow>
        <TableRow><TableCell>When considering the morality of ending human life at various stages, I will reflect on whether my views align with Catholic teachings that value every human being as precious and deserving of respect.</TableCell></TableRow>
        <TableRow><TableCell>Did I take something that didn't belong to me, perhaps for personal gain or convenience?</TableCell></TableRow>
        <TableRow><TableCell>Did I covet something that belonged to my neighbor, such as a possession or privilege?</TableCell></TableRow>
        <TableRow><TableCell>Did I desire to replace my partner's spouse as a more attractive and desirable mate in a social situation?</TableCell></TableRow>
        <TableRow><TableCell>When reviewing my attire, did I intentionally expose too much skin for the occasion, potentially offending others or drawing unwanted attention?</TableCell></TableRow>
        <TableRow><TableCell>Did I indulge in entertainment that might be morally questionable, such as watching shows or movies with mature themes, while neglecting my values and priorities?</TableCell></TableRow>
        <TableRow><TableCell>Did I intentionally provide false testimony in order to protect my personal relationships or avoid conflict, even if it meant compromising the truth?</TableCell></TableRow>
        <TableRow><TableCell>When I feel angry, frustrated, or resentful towards others, do I take time to reflect on why I am feeling this way and seek forgiveness and understanding?</TableCell></TableRow>
        <TableRow><TableCell>Did I harbor resentment towards someone from whom I expected more, such as a coworker who didn't pull their weight, or a family member who let me down?</TableCell></TableRow>
        <TableRow><TableCell>When seeking revenge against someone, did I let my desire for justice cloud my judgment and lead me to actions that might harm others or damage relationships?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time you worked on a day that was intended for rest and relaxation, potentially taking away from other important responsibilities or priorities?</TableCell></TableRow>
        <TableRow><TableCell>Did I share or discuss confidential details about someone else without their permission, possibly through casual conversation, social media, or other online platforms?</TableCell></TableRow>
        <TableRow><TableCell>Did I damage someone's reputation through careless words on social media that were later shared out of context?</TableCell></TableRow>
        <TableRow><TableCell>When I prioritize leisure activities, have I used substances excessively to unwind or enhance experiences?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever thought of others as being less than human, such as when encountering someone who holds differing views on personal growth and self-improvement?</TableCell></TableRow>
        <TableRow><TableCell>Did I use words that were hurtful or unbecoming when speaking about others?</TableCell></TableRow>
        <TableRow><TableCell>Did I secretly envy others for having something that I didn't have, and wish they would be deprived of it?</TableCell></TableRow>
        <TableRow><TableCell>Did I judge others by their appearance, social media presence, or life choices?</TableCell></TableRow>
        <TableRow><TableCell>Did I express gratitude for all that comes my way, whether it's through personal successes, relationships, or unexpected blessings in life?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever encouraged someone to compromise their Catholic values and marry outside the Church, even if it seemed like an easy way out?</TableCell></TableRow>
        <TableRow><TableCell>Did I persecute others through my words, actions, or attitudes in order to advance my own interests or career?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize accumulating wealth over genuine relationships and meaningful experiences?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize power over relationships, even if it meant gaining a sense of control and respect that I felt was lacking in my personal life?</TableCell></TableRow>
        <TableRow><TableCell>Did I compromise my personal integrity by prioritizing external validation over genuine self-reflection?</TableCell></TableRow>
        <TableRow><TableCell>Have I indulged in excessive self-gratification, compromising my spiritual well-being?</TableCell></TableRow>
        <TableRow><TableCell>When I exposed my child to the company of those who engage in questionable behaviors, did I provide them with guidance and instruction on how to make good choices?</TableCell></TableRow>
        <TableRow><TableCell>Did I permit someone else to be treated unfairly, perhaps by tolerating or ignoring unjust treatment in my personal relationships or at work?</TableCell></TableRow>
        <TableRow><TableCell>Did I shy away from speaking up when faced with opposing viewpoints on issues that matter most to me?</TableCell></TableRow>
        <TableRow><TableCell>Have I intentionally misled others to achieve a personal gain?</TableCell></TableRow>
        <TableRow><TableCell>Did I speak negatively about someone behind their back, potentially damaging their reputation?</TableCell></TableRow>
        <TableRow><TableCell>When dealing with difficult people, such as a coworker who consistently speaks poorly about you behind your back, did I fail to love and treat them with kindness?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my personal reputation over seeking truth and authenticity in my relationships and online presence?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize fleeting pleasures and external validation over cultivating a deeper, more meaningful connection with God?</TableCell></TableRow>
        <TableRow><TableCell>Did I let my desire to present myself as perfect online influence how I perceive and value myself in real life?</TableCell></TableRow>
        <TableRow><TableCell>Did I use my free time seeking stimulating experiences that bring me joy, rather than mindless distractions?</TableCell></TableRow>
        <TableRow><TableCell>Did I lose patience and become frustrated when faced with unexpected demands on my time, such as family responsibilities conflicting with work deadlines?</TableCell></TableRow>
        <TableRow><TableCell>When considering whether to harbor thoughts of revenge, reflect on instances where you felt wronged or mistreated, and examine if your emotional response has been one of seeking justice or exacting vengeance.</TableCell></TableRow>
        <TableRow><TableCell>Do I prevent others from succeeding out of fear that their success might surpass my own?</TableCell></TableRow>
        <TableRow><TableCell>Am I so attached to material possessions that they take precedence over my relationships and personal goals?</TableCell></TableRow>
        <TableRow><TableCell>Did I let my personal growth and self-improvement goals, such as learning new skills or traveling, take priority over showing compassion and understanding towards others in times of need?</TableCell></TableRow>
        <TableRow><TableCell>Did I help others to acquire something that did not belong to them?</TableCell></TableRow>
        <TableRow><TableCell>Have I misrepresented myself to gain an advantage in my career, education, or social relationships?</TableCell></TableRow>
        <TableRow><TableCell>When evaluating my judgment of others, did I assume the worst about someone's intentions or character without sufficient evidence?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever judged someone based on their personal choices, hobbies, or goals?</TableCell></TableRow>
        <TableRow><TableCell>When looking down upon others, does it often seem that my disapproval stems from their occupation, social status, or other personal characteristics?</TableCell></TableRow>
        <TableRow><TableCell>Do I turn away from strangers and those who are displaced, especially when I am busy with my own pursuits and responsibilities?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time I made an effort to push myself beyond my comfort zone, rather than simply going through the motions and taking the easy way out?</TableCell></TableRow>

    </TableBody>
</Layout>
