---
import Layout from "@/layouts/Layout.astro"
import {
    Table,
      TableBody,
      TableCell,
      TableRow,
    } from "@/components/ui/table"
---
<Layout
    title="Unum Exemen"
    description="The ultimate Catholic Examination of Conscience for Married Mother with Children."
    lastUpdated="2024-09-24">
    <h2 class="text-center">Examination for Married Mother with Children</h2>
    <Table className="m-4">
    <TableBody>
        <TableRow><TableCell>Have I used language that dishonors God or takes His name in vain when speaking to myself or others, even if only thoughtlessly or out of habit?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time I prioritized attending Mass on a Sunday, especially after my family and work schedule may have made it challenging to arrive on time?</TableCell></TableRow>
        <TableRow><TableCell>Did I let my busy schedule as a parent and wife lead me to ignore or skip Mass on a Holy Day of Obligation, even though it is an important way for me to show reverence and gratitude to God?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time you let frustration or disappointment at home influence how you spoke about God, particularly in a situation where you felt overwhelmed by responsibilities?</TableCell></TableRow>
        <TableRow><TableCell>Did I use God's name as a substitute for stronger language, or as a way to express frustration or anger?</TableCell></TableRow>
        <TableRow><TableCell>Did I ask others to work on a day that could have been spent with my family?</TableCell></TableRow>
        <TableRow><TableCell>Have I prioritized family time and responsibilities over personal interests and activities, leading to neglect in either area?</TableCell></TableRow>
        <TableRow><TableCell>Have I unfairly charged someone for a service or good, or paid them less than what was agreed upon?</TableCell></TableRow>
        <TableRow><TableCell>Did I deny God's existence when faced with personal struggles and challenges, such as managing stress and burnout from balancing work and family responsibilities?</TableCell></TableRow>
        <TableRow><TableCell>Did I doubt God's existence when faced with unexpected challenges and stressors in my life, causing me to question His plan for me?</TableCell></TableRow>
        <TableRow><TableCell>Did I deny my faith by prioritizing my career goals over spiritual development?</TableCell></TableRow>
        <TableRow><TableCell>Did I support or promote actions that lead to the direct taking of human life, such as those related to abortion or euthanasia?</TableCell></TableRow>
        <TableRow><TableCell>Have I taken something that didn't belong to me, such as money from our family's household budget or a valuable item without permission?</TableCell></TableRow>
        <TableRow><TableCell>Did I covet something that belongs to my family, such as a valuable item they own?</TableCell></TableRow>
        <TableRow><TableCell>Did I let my desire for connection and support from someone else's relationship cloud my judgment, leading me to wish ill will towards their spouse?</TableCell></TableRow>
        <TableRow><TableCell>Did I reveal more skin than was necessary during an impromptu family outing to the beach?</TableCell></TableRow>
        <TableRow><TableCell>Have I recently exposed myself to entertainment with impure content while trying to unwind after a long day, perhaps browsing through social media influencers or watching TV shows/movies on Netflix?</TableCell></TableRow>
        <TableRow><TableCell>Have I lied about my financial situation to others or even to myself?</TableCell></TableRow>
        <TableRow><TableCell>Did I let frustration with family responsibilities, relationships, or personal goals lead me to react impulsively in anger?</TableCell></TableRow>
        <TableRow><TableCell>Did I hold onto anger, resentment, or bitterness towards someone even after they had apologized and made amends?</TableCell></TableRow>
        <TableRow><TableCell>Did I seek to hurt someone's reputation or relationships as a means of revenge?</TableCell></TableRow>
        <TableRow><TableCell>Did I use my leisure time to rest on a Sunday?</TableCell></TableRow>
        <TableRow><TableCell>Did I share unverified information about someone's personal life, potentially causing harm to their reputation, with others in casual conversations or online?</TableCell></TableRow>
        <TableRow><TableCell>Did I say something that could be hurtful to someone's reputation, even if it was meant as a joke?</TableCell></TableRow>
        <TableRow><TableCell>Did I use food and drink as a way to reward myself or distract myself from my responsibilities, rather than simply nourishing my body?</TableCell></TableRow>
        <TableRow><TableCell>When evaluating your relationships and interactions with others, have I shown prejudice or disdain towards any group of people based on their characteristics, background, or circumstances?</TableCell></TableRow>
        <TableRow><TableCell>Did I use foul language in conversations that could have been hurtful to others, especially when discussing topics that matter to me?</TableCell></TableRow>
        <TableRow><TableCell>Did I wish someone else to miss out on an opportunity that would have benefited me or our family?</TableCell></TableRow>
        <TableRow><TableCell>Have I judged others based on their social media presence, interests, or other online activities?</TableCell></TableRow>
        <TableRow><TableCell>When expressing gratitude for all I receive, did I acknowledge and thank those who help me nurture my children's well-being, such as family members, caregivers, or educators?</TableCell></TableRow>
        <TableRow><TableCell>Have I allowed my Catholic faith to influence or guide decisions regarding family milestones, such as weddings or other significant life events? Did I fail to encourage a loved one to have their child baptized in the Church, potentially leading them away from sacraments and Catholic teachings?</TableCell></TableRow>
        <TableRow><TableCell>When I speak poorly or unjustly about others, do I condemn them in my heart?</TableCell></TableRow>
        <TableRow><TableCell>When considering my spending habits and priorities, have I allowed my desire for material possessions to distract me from what truly adds value and joy to my life?</TableCell></TableRow>
        <TableRow><TableCell>When did I last let my desire for control and power influence my decisions, perhaps even leading me to overlook the needs and well-being of others?</TableCell></TableRow>
        <TableRow><TableCell>Did I compromise my values by prioritizing social appearances over genuine relationships?</TableCell></TableRow>
        <TableRow><TableCell>Have I indulged excessively in social media browsing to alleviate stress and maintain relationships, rather than prioritizing meaningful interactions?</TableCell></TableRow>
        <TableRow><TableCell>Have I exposed my children to negative influences, such as unhealthy friendships or unwholesome entertainment, that could compromise their well-being and spiritual growth?</TableCell></TableRow>
        <TableRow><TableCell>Have I unfairly prioritized my own needs and desires over those of others, leading someone else to be treated unjustly?</TableCell></TableRow>
        <TableRow><TableCell>When expressing my faith, did I sometimes prioritize avoiding conflict over standing up for what is right in front of those I love?</TableCell></TableRow>
        <TableRow><TableCell>Have I misrepresented someone else's words or actions to others?</TableCell></TableRow>
        <TableRow><TableCell>Did I speak poorly about someone behind their back?</TableCell></TableRow>
        <TableRow><TableCell>When interacting with those who disagree with you, or have wronged you in some way, do I make it difficult for them to turn away and instead seek reconciliation?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my desire to be seen as a good role model over speaking uncomfortable truths within my family?</TableCell></TableRow>
        <TableRow><TableCell>Did I prefer the excitement and relaxation that comes with traveling to other places over deepening my relationship with God?</TableCell></TableRow>
        <TableRow><TableCell>Did I let my desire for physical appearance and perfectionism distract me from more meaningful and loving relationships in my life?</TableCell></TableRow>
        <TableRow><TableCell>Did I waste resources on leisure activities that could have been used to cultivate my interests and pursue personal growth?</TableCell></TableRow>
        <TableRow><TableCell>Did I become short-tempered when my child's needs and mine conflicted?</TableCell></TableRow>
        <TableRow><TableCell>When I feel wronged or hurt by someone, do I struggle to forgive them and instead harbor thoughts of revenge?</TableCell></TableRow>
        <TableRow><TableCell>Do I envy others' success and feel a sense of inadequacy about my own life's progress?</TableCell></TableRow>
        <TableRow><TableCell>When considering how my time and energy are spent, do I let attachment to material comforts distract me from living a life centered on what truly matters?</TableCell></TableRow>
        <TableRow><TableCell>When considering my daily responsibilities, have I put the needs and well-being of others before my own desires and goals?</TableCell></TableRow>
        <TableRow><TableCell>Did I help someone take something that didn't belong to them, such as money, materials, or other resources?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever exaggerated my skills, experience, or accomplishments to gain an advantage in personal or professional settings?</TableCell></TableRow>
        <TableRow><TableCell>Did I judge others based on their parenting choices, family dynamics, or lifestyle?</TableCell></TableRow>
        <TableRow><TableCell>Did I judge others for their parenting choices?</TableCell></TableRow>
        <TableRow><TableCell>Have you ever judged someone's worth based on their occupation, background, or other characteristics?</TableCell></TableRow>
        <TableRow><TableCell>When helping others in need, such as those who are displaced or struggling, am I genuinely willing to put aside my own time and resources?</TableCell></TableRow>
        <TableRow><TableCell>Am I procrastinating on responsibilities because I prioritize leisure activities over tasks that require effort and time commitment?</TableCell></TableRow>

    </TableBody>
</Layout>
