---
import Layout from "@/layouts/Layout.astro"
import {
    Table,
      TableBody,
      TableCell,
      TableRow,
    } from "@/components/ui/table"
---
<Layout
    title="Unum Exemen"
    description="The ultimate Catholic Examination of Conscience for Female College Student."
    lastUpdated="2024-09-24">
    <h2 class="text-center">Examination for Female College Student</h2>
    <Table className="m-4">
    <TableBody>
        <TableRow><TableCell>When was the last time you used God's name as a mere expression, without thinking about its significance and the reverence it deserves?</TableCell></TableRow>
        <TableRow><TableCell>Did I choose to skip Mass on a Sunday because my social plans were more appealing?</TableCell></TableRow>
        <TableRow><TableCell>Did I allow daily distractions, such as excessive social media use or leisure activities, to take precedence over my commitment to attend Mass on a Holy Day of Obligation?</TableCell></TableRow>
        <TableRow><TableCell>Did I use the name of Jesus as an expletive or in a way that disrespected His person?</TableCell></TableRow>
        <TableRow><TableCell>When using language that references God, have I done so as a byword for good or evil?</TableCell></TableRow>
        <TableRow><TableCell>Did I require someone else to perform work on a Sunday because it was more convenient for me?</TableCell></TableRow>
        <TableRow><TableCell>When considering your actions, did you disregard your parents' advice?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my family's needs over my own, potentially neglecting responsibilities and commitments?</TableCell></TableRow>
        <TableRow><TableCell>Have I taken advantage of others by paying them less than what I could afford, compromising on their worth and value?</TableCell></TableRow>
        <TableRow><TableCell>Have I denied God's existence through my reluctance to engage in conversations about faith or spirituality when faced with opposing views, and instead prioritized avoiding conflict over defending or discussing my own beliefs?</TableCell></TableRow>
        <TableRow><TableCell>Did I question God's existence when faced with uncertainty or difficulties in my life?</TableCell></TableRow>
        <TableRow><TableCell>Did I hide my true faith from friends and acquaintances when discussing sensitive topics?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever considered supporting, participating in, or advocating for policies that could potentially lead to abortion or euthanasia?</TableCell></TableRow>
        <TableRow><TableCell>Did I show disrespect to someone who has helped me, like a parent or guardian?</TableCell></TableRow>
        <TableRow><TableCell>Did I give more weight to my own desires than to the well-being and expectations of others in my life?</TableCell></TableRow>
        <TableRow><TableCell>Have I taken something that didn't belong to me from an online platform, store, or event, using my access and privileges?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever felt envious or resentful towards someone who has something that I desire, leading me to consider taking it from them?</TableCell></TableRow>
        <TableRow><TableCell>Did I entertain romantic feelings for someone who is already committed to another in my social circle?</TableCell></TableRow>
        <TableRow><TableCell>Was my attire at today's group fitness class modest?</TableCell></TableRow>
        <TableRow><TableCell>Did I engage in entertainment that potentially corrupted my mind and heart, perhaps through media consumption or social interactions?</TableCell></TableRow>
        <TableRow><TableCell>Have I intentionally or unintentionally provided false information, especially during group discussions or online interactions?</TableCell></TableRow>
        <TableRow><TableCell>When did I let anger consume my thoughts and actions, causing me to react impulsively or hurt others?</TableCell></TableRow>
        <TableRow><TableCell>Did I hold onto anger, resentment, or bitterness towards someone even after they had apologized or made amends?</TableCell></TableRow>
        <TableRow><TableCell>Did I seek revenge against someone who has wronged me, even if it was just in my thoughts or through passive-aggressive behavior?</TableCell></TableRow>
        <TableRow><TableCell>Did I spend time engaging in a hobby or leisure activity on a Sunday, rather than dedicating it to personal reflection and spiritual growth?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time you shared personal news or rumors about someone without their permission, and did you use that information to gossip?</TableCell></TableRow>
        <TableRow><TableCell>Have I spoken negatively about someone behind their back, damaging their reputation and causing them harm?</TableCell></TableRow>
        <TableRow><TableCell>Have I overindulged in food or drink, compromising my physical and emotional well-being?</TableCell></TableRow>
        <TableRow><TableCell>Did I view people who are struggling financially, living in poverty, or facing other significant hardships as being less worthy or less deserving of respect and dignity?</TableCell></TableRow>
        <TableRow><TableCell>Did I use hurtful language when speaking to someone, knowing it would offend them?</TableCell></TableRow>
        <TableRow><TableCell>When considering my desire to deprive others of something good, do I sometimes feel envious or resentful when someone else enjoys an experience or benefit that I feel I could have had?</TableCell></TableRow>
        <TableRow><TableCell>When judging others, did I criticize their actions without truly understanding their motivations and circumstances?</TableCell></TableRow>
        <TableRow><TableCell>Did I express gratitude for all the blessings and opportunities that have enriched my life?</TableCell></TableRow>
        <TableRow><TableCell>Did I remain true to my values and faith when witnessing someone making decisions that seemed contrary to Catholic teachings?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever condemned, belittled, or spoken negatively about others behind their backs, especially in online communities or social media platforms?</TableCell></TableRow>
        <TableRow><TableCell>When considering my relationship with wealth, have I been so focused on accumulating material possessions that it has taken precedence over meaningful experiences and relationships?</TableCell></TableRow>
        <TableRow><TableCell>Have I used power and influence to further my own interests, rather than serving the greater good?</TableCell></TableRow>
        <TableRow><TableCell>Have I compromised my personal values and integrity by seeking validation online, potentially influencing my perception of self-worth?</TableCell></TableRow>
        <TableRow><TableCell>Have I indulged excessively in fleeting pleasures, compromising my long-term well-being and goals?</TableCell></TableRow>
        <TableRow><TableCell>Did I allow unfair treatment to go unchallenged when someone else was being mistreated in a social setting, such as at an event or within a community group?</TableCell></TableRow>
        <TableRow><TableCell>Did I shy away from speaking up for my beliefs when it would have required me to navigate conflicting opinions and potentially disrupt group harmony?</TableCell></TableRow>
        <TableRow><TableCell>Have I intentionally misled others by providing false or misleading information?</TableCell></TableRow>
        <TableRow><TableCell>Did I falsely accuse someone else of doing something wrong, perhaps to avoid accountability for my own actions?</TableCell></TableRow>
        <TableRow><TableCell>Have I failed to show love and compassion towards those who may be struggling with feelings of inadequacy, self-doubt, or imposter syndrome in my own life?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my online presence over authentic relationships, seeking validation from others rather than cultivating genuine connections?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize fleeting pleasures and diversions over cultivating a deeper spiritual connection?</TableCell></TableRow>
        <TableRow><TableCell>Did I excessively worry about how others perceive my appearance?</TableCell></TableRow>
        <TableRow><TableCell>Did I indulge in seeking knowledge or understanding through excessive scrolling on social media platforms, rather than engaging in meaningful activities that foster personal growth?</TableCell></TableRow>
        <TableRow><TableCell>When I feel overwhelmed, did I lose my patience and react impulsively?</TableCell></TableRow>
        <TableRow><TableCell>When considering someone who is inclined to participate in group fitness classes, volunteer for social causes, and attend concerts and festivals, what might lead them to hold grudges or feel a desire for revenge towards others?</TableCell></TableRow>
        <TableRow><TableCell>Do I root for others' success, even if it means my own achievements might be overshadowed?</TableCell></TableRow>
        <TableRow><TableCell>Do I prioritize acquiring and holding onto material possessions, potentially at the expense of spiritual growth and relationships?</TableCell></TableRow>
        <TableRow><TableCell>Did I put my own interests and desires ahead of what truly matters, even when it seemed like the easier choice?</TableCell></TableRow>
        <TableRow><TableCell>Have I participated in or enabled someone else's dishonest behavior, such as shoplifting or cheating on an exam?</TableCell></TableRow>
        <TableRow><TableCell>Did I misrepresent myself to gain an advantage in social or professional situations?</TableCell></TableRow>
        <TableRow><TableCell>Have I judged others, including friends who prioritize group fitness classes and social events over my own interests?</TableCell></TableRow>
        <TableRow><TableCell>When evaluating my words and actions, did I speak poorly about others behind their backs?</TableCell></TableRow>
        <TableRow><TableCell>Am I quick to judge others based on their profession, social status, or cultural background, and have I treated them unfairly as a result?</TableCell></TableRow>
        <TableRow><TableCell>When engaging with people I meet on public transportation, am I able to show genuine interest and kindness, especially towards those who may be struggling or feeling isolated?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time you allowed yourself to take a break from activities and tasks, doing something solely for relaxation and leisure, rather than feeling guilty or anxious about procrastination?</TableCell></TableRow>
        <TableRow><TableCell>Was I disobedient to authority figures in order to pursue my own interests, desires, or ambitions?</TableCell></TableRow>

    </TableBody>
</Layout>
