---
import Layout from "@/layouts/Layout.astro"
import {
    Table,
      TableBody,
      TableCell,
      TableRow,
    } from "@/components/ui/table"
---
<Layout
    title="Unum Exemen"
    description="The ultimate Catholic Examination of Conscience for Single Moms."
    lastUpdated="2024-09-24">
    <h2 class="text-center">Examination for Single Moms</h2>
    <Table className="m-4">
    <TableBody>
        <TableRow><TableCell>Have I used God's name as a curse or exclamation, even if only in frustration or anger?</TableCell></TableRow>
        <TableRow><TableCell>Did I intentionally choose to skip or deprioritize attending Sunday Mass, prioritizing other activities over my spiritual well-being?</TableCell></TableRow>
        <TableRow><TableCell>Did I allow work or personal commitments to interfere with my obligation to attend Mass on a Holy Day of Obligation?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time I intentionally used Jesus' name in conversation, prayer, or thought as a mere expression or in anger?</TableCell></TableRow>
        <TableRow><TableCell>When using language that refers to God, have I ever used it as a byword or curse, rather than with genuine reverence and respect?</TableCell></TableRow>
        <TableRow><TableCell>Did I make others, perhaps colleagues, friends, or acquaintances, work on a Sunday?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my relationships and responsibilities over work commitments, potentially neglecting duties that impact others?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever negotiated a fair price or wage with others, whether it be in my personal or professional life, to ensure their compensation aligns with industry standards and societal norms?</TableCell></TableRow>
        <TableRow><TableCell>Did I deny God's existence when faced with situations where my personal beliefs conflicted with societal expectations and pressures?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever doubted God's existence, perhaps during moments of uncertainty or questioning, when my faith was put to the test by life's challenges?</TableCell></TableRow>
        <TableRow><TableCell>Did I deny that my actions were contrary to what is expected of me?</TableCell></TableRow>
        <TableRow><TableCell>When have I ever compromised my values by being silent or uninvolved when someone I know has considered or participated in an abortion or euthanasia?</TableCell></TableRow>
        <TableRow><TableCell>Did I take something that didn't belong to me without permission, even if it was just for a moment?</TableCell></TableRow>
        <TableRow><TableCell>Did I covet something that belongs to someone else, perhaps through social media or online browsing?</TableCell></TableRow>
        <TableRow><TableCell>Did I ever harbor or express envy towards someone else's romantic relationship?</TableCell></TableRow>
        <TableRow><TableCell>When considering my attire, did I prioritize modesty and avoid revealing clothing that might be distracting to others?</TableCell></TableRow>
        <TableRow><TableCell>Have I allowed myself to be entertained by content that contradicts my values and promotes impurity, such as excessive graphic violence or explicit language?</TableCell></TableRow>
        <TableRow><TableCell>Did I misrepresent someone's words or actions as my own to get ahead, even if it was just in a casual conversation?</TableCell></TableRow>
        <TableRow><TableCell>Did I let frustration from unmet expectations cloud my judgment, leading me to react impulsively or speak harshly?</TableCell></TableRow>
        <TableRow><TableCell>Did I hold resentment towards someone who wronged me, and did I let that bitterness simmer in my heart, rather than choosing to forgive them?</TableCell></TableRow>
        <TableRow><TableCell>Did I seek revenge against someone even if it was just in thought or by silently holding onto grudges?</TableCell></TableRow>
        <TableRow><TableCell>Did I use my leisure time on Sunday to serve others, rather than solely for personal enjoyment?</TableCell></TableRow>
        <TableRow><TableCell>Did I share confidential information about someone without their permission?</TableCell></TableRow>
        <TableRow><TableCell>Have I spoken negatively about someone behind their back, causing harm to their reputation?</TableCell></TableRow>
        <TableRow><TableCell>Did I give in to indulgent cravings while away from home, especially during travel or social gatherings?</TableCell></TableRow>
        <TableRow><TableCell>Did I view others who are marginalized, oppressed, or treated unjustly as being less deserving of respect and dignity than myself?</TableCell></TableRow>
        <TableRow><TableCell>Did I use unkind words to someone when discussing a disagreement?</TableCell></TableRow>
        <TableRow><TableCell>Did I intentionally or unintentionally deprive someone else of something good, such as an opportunity, help, or understanding?</TableCell></TableRow>
        <TableRow><TableCell>When evaluating my relationships and interactions with others, have I been overly critical or judgmental towards people who are different from me?</TableCell></TableRow>
        <TableRow><TableCell>When considering those I meet, work with, and interact with daily, did I express gratitude for all they give me?</TableCell></TableRow>
        <TableRow><TableCell>When I encourage others to act against Church teachings, have I inadvertently encouraged someone to marry outside the Church?</TableCell></TableRow>
        <TableRow><TableCell>Did I subtly judge and criticize others through social media posts, comments, or online behaviors, especially when they hold different views or lifestyles than mine?</TableCell></TableRow>
        <TableRow><TableCell>Did I become too fixated on acquiring material possessions, thereby compromising my relationships and personal well-being?</TableCell></TableRow>
        <TableRow><TableCell>Did I seek power over others through manipulation, coercion, or by exploiting their weaknesses?</TableCell></TableRow>
        <TableRow><TableCell>Did I compromise my integrity by prioritizing external validation over my own sense of self-worth?</TableCell></TableRow>
        <TableRow><TableCell>Did I allow my desire for instant gratification and pleasure to cloud my judgment, leading me to prioritize fleeting experiences over long-term well-being?</TableCell></TableRow>
        <TableRow><TableCell>Did I allow myself to be taken advantage of by someone who is more powerful or influential?</TableCell></TableRow>
        <TableRow><TableCell>Did I allow personal biases or opinions to influence my stance on defending Church teachings, potentially leading me to shy away from discussing them openly?</TableCell></TableRow>
        <TableRow><TableCell>Have I intentionally misled others through my words or actions, even if only to avoid confrontation or maintain a certain image?</TableCell></TableRow>
        <TableRow><TableCell>Did I speak falsely about someone, causing harm to their reputation?</TableCell></TableRow>
        <TableRow><TableCell>When interacting with individuals who have wronged me, did I show patience and forbearance, rather than seeking to retaliate or become defensive?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my online reputation and social media presence over speaking the truth in difficult conversations?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize fleeting experiences and entertainment over cultivating deeper spiritual understanding and growth?</TableCell></TableRow>
        <TableRow><TableCell>Did I compare myself unfavorably to others, especially through social media, and let it consume my thoughts and feelings?</TableCell></TableRow>
        <TableRow><TableCell>Have I pursued enriching experiences through indulgent spending, potentially compromising my financial stability and long-term goals?</TableCell></TableRow>
        <TableRow><TableCell>When did I last lose my patience and what triggered it?</TableCell></TableRow>
        <TableRow><TableCell>When I feel wronged or unjustly treated, do I let negative emotions consume me and lead to thoughts of revenge?</TableCell></TableRow>
        <TableRow><TableCell>Do I prevent others from succeeding by being overly competitive, critical, or dismissive?</TableCell></TableRow>
        <TableRow><TableCell>Do I prioritize my relationships and experiences over accumulating material possessions?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my own career goals and ambitions over the needs and interests of others, potentially leading to feelings of guilt or self-doubt?</TableCell></TableRow>
        <TableRow><TableCell>Did I encourage or enable someone else to engage in dishonest behavior by participating in or covering up their actions?</TableCell></TableRow>
        <TableRow><TableCell>Did I misrepresent my skills and qualifications to secure an advantage, such as getting ahead in my career or being considered for a new opportunity?</TableCell></TableRow>
        <TableRow><TableCell>When judging others, have I been quick to criticize or assume I know their situation without truly listening and understanding where they are coming from?</TableCell></TableRow>
        <TableRow><TableCell>When I speak critically of others, am I sometimes trying to make myself feel better about my own shortcomings?</TableCell></TableRow>
        <TableRow><TableCell>Do I look down upon others based on their career choices, educational background, or other personal achievements?</TableCell></TableRow>
        <TableRow><TableCell>Do I turn away from strangers and those who are displaced, especially in situations where it would require me to take on new responsibilities or make significant changes?</TableCell></TableRow>
        <TableRow><TableCell>Do I often find myself lacking motivation to start new projects or pursue personal goals, and then feel guilty or procrastinate when faced with them?</TableCell></TableRow>

    </TableBody>
</Layout>
