---
import Layout from "@/layouts/Layout.astro"
import {
    Table,
      TableBody,
      TableCell,
      TableRow,
    } from "@/components/ui/table"
---
<Layout
    title="Unum Exemen"
    description="The ultimate Catholic Examination of Conscience or Married Father with Children."
    lastUpdated="2024-09-24">
    <h2 class="text-center">Examination for Married Father with Children</h2>
    <Table className="m-4">
    <TableBody>

        <TableRow><TableCell>Have I used God's name lightly, without reverence or respect, in conversation or thought?</TableCell></TableRow>
        <TableRow><TableCell>When attending Sunday Mass, did I prioritize being present and fully engaged, or did I allow other obligations to take precedence?</TableCell></TableRow>
        <TableRow><TableCell>Did I intentionally skip attending Mass on a Holy Day of Obligation to spend more time engaging in an outdoor activity, like hiking or camping, with my family?</TableCell></TableRow>
        <TableRow><TableCell>Have I used God's name as a mere expression, even in jest, without reverence for its holiness?</TableCell></TableRow>
        <TableRow><TableCell>Did I use words like 'God' to make others feel more comfortable and avoid conflict, rather than using them out of genuine faith?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever asked someone to perform work on a Sunday, even if it was for a good reason?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize family responsibilities over my own leisure activities, such as engaging in outdoor hobbies or participating in sports?</TableCell></TableRow>
        <TableRow><TableCell>Did I take advantage of someone by paying them less than what their work was worth, perhaps while expecting others to treat me fairly?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever questioned God's existence when faced with challenges that seem to contradict my faith, such as times when I felt overwhelmed by responsibilities and struggled to prioritize spiritual well-being?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever questioned God's existence, especially during moments of uncertainty or self-doubt when my faith was challenged?</TableCell></TableRow>
        <TableRow><TableCell>Did I deny or downplay my faith in conversations where it might have been more convenient to keep quiet about being Catholic?</TableCell></TableRow>
        <TableRow><TableCell>Did I justify euthanizing my terminally ill pet, knowing it would cause distress to my family, especially my young children who consider the animal part of our family?</TableCell></TableRow>
        <TableRow><TableCell>When considering the act of taking something that doesn't belong to me, I ask myself: Was I honest in my financial transactions, and did I respect the property rights of others?</TableCell></TableRow>
        <TableRow><TableCell>Have I taken something that didn't belong to me, such as money, property, or other valuable items, without the owner's consent?</TableCell></TableRow>
        <TableRow><TableCell>Did I ever harbor desires for someone else's spouse, perhaps fueled by feeling disconnected from my own relationship or struggling with feelings of jealousy?</TableCell></TableRow>
        <TableRow><TableCell>Did I consume entertainment content that could potentially corrupt my mind and lead me away from God's will, especially when engaging in leisure activities such as watching movies or playing video games?</TableCell></TableRow>
        <TableRow><TableCell>Have I intentionally misled others through dishonesty, even if it was just to avoid conflict or achieve a personal goal?</TableCell></TableRow>
        <TableRow><TableCell>Did I lose patience and become irritated with my family during a chaotic morning routine, such as getting everyone ready for school on time?</TableCell></TableRow>
        <TableRow><TableCell>Did I allow past conflicts to affect my relationships and interactions with family, friends, or colleagues?</TableCell></TableRow>
        <TableRow><TableCell>When seeking justice for someone, did I let my desire to see them punished interfere with my ability to forgive and show compassion?</TableCell></TableRow>
        <TableRow><TableCell>Did I use my free time for something productive, rather than idly browsing social media on a Sunday?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time I shared confidential information about someone else with a friend, family member, or colleague?</TableCell></TableRow>
        <TableRow><TableCell>Have I spoken negatively about someone online or shared private family matters that could damage their reputation?</TableCell></TableRow>
        <TableRow><TableCell>Did I use food or drink as an excuse to avoid spending quality time with my loved ones?</TableCell></TableRow>
        <TableRow><TableCell>Have I considered the inherent value and dignity of individuals who may hold different lifestyles, interests, or financial situations than mine?</TableCell></TableRow>
        <TableRow><TableCell>Have I used language that might offend others when discussing sports, news, or family-friendly TV shows?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever intentionally or unintentionally hindered someone's ability to achieve their goals or pursue their passions?</TableCell></TableRow>
        <TableRow><TableCell>When judging others, did I consider how their words and actions may affect my family or relationships?</TableCell></TableRow>
        <TableRow><TableCell>Did I give thanks for all that is given to me, whether it be through my family, my job, or the basic necessities of life?</TableCell></TableRow>
        <TableRow><TableCell>When making financial decisions, did I support someone else's decision to spend money on something that is contrary to my own Catholic values?</TableCell></TableRow>
        <TableRow><TableCell>Did I mock or ridicule others, especially in public settings, that might have led them to feel belittled or embarrassed?</TableCell></TableRow>
        <TableRow><TableCell>Have I allowed my desire for material comfort and success to become an idol, distracting me from what truly brings me joy and fulfillment in life?</TableCell></TableRow>
        <TableRow><TableCell>Have I used my influence, power, or position to exploit others for personal gain?</TableCell></TableRow>
        <TableRow><TableCell>Did I compromise my integrity for personal gain, such as seeking to improve my social standing, career prospects, or financial situation by exploiting opportunities that might undermine the values and principles I claim to uphold?</TableCell></TableRow>
        <TableRow><TableCell>When giving in to desires for entertainment, leisure, or pleasure, did I forget my responsibilities and priorities?</TableCell></TableRow>
        <TableRow><TableCell>Have I allowed my child's influence to lead me into unhealthy habits, such as excessive gaming or social media use?</TableCell></TableRow>
        <TableRow><TableCell>Did I tolerate unfair treatment of someone, even if it seemed minor or was done by someone else?</TableCell></TableRow>
        <TableRow><TableCell>When standing up for my faith, do I sometimes hold back sharing its teachings to avoid disagreements and maintain harmony in conversations?</TableCell></TableRow>
        <TableRow><TableCell>When I find myself tempted to present myself as something I'm not in order to gain favor, approval, or acceptance from others, do I intentionally deceive and mislead them?</TableCell></TableRow>
        <TableRow><TableCell>Have I spoken negatively about someone, even if it was just to vent to a friend?</TableCell></TableRow>
        <TableRow><TableCell>Have I shown love and compassion to those who disagree with me, even when they challenge my views on sports teams?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my reputation among friends and acquaintances over being truthful in my interactions?</TableCell></TableRow>
        <TableRow><TableCell>When engaging in leisure activities, did I prioritize entertainment and enjoyment over opportunities for spiritual growth and self-reflection?</TableCell></TableRow>
        <TableRow><TableCell>When did I last prioritize my appearance over the well-being and needs of those around me?</TableCell></TableRow>
        <TableRow><TableCell>Did I allow curiosity and a desire for new experiences to lead me into wasteful pursuits, rather than seeking them in ways that also bring spiritual growth?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time you lost patience and yelled at someone, even if they deserved it?</TableCell></TableRow>
        <TableRow><TableCell>Do I harbor resentment towards others, especially when they seem to be thriving while my own circumstances remain unchanged?</TableCell></TableRow>
        <TableRow><TableCell>Do I intentionally hinder others' progress or success out of feelings of inadequacy or fear that they might surpass me?</TableCell></TableRow>
        <TableRow><TableCell>Am I so attached to material possessions that they begin to take precedence over my relationships and family life?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my own interests over the well-being and needs of those around me, such as family members and close friends?</TableCell></TableRow>
        <TableRow><TableCell>Did I take advantage of someone else's financial struggles to my own benefit?</TableCell></TableRow>
        <TableRow><TableCell>Did I misrepresent myself or my goals to gain an advantage in personal or professional settings, perhaps by exaggerating skills, qualifications, or accomplishments?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever let my own biases influence how I perceive and treat others, even if it's just in my thoughts?</TableCell></TableRow>
        <TableRow><TableCell>Have I spoken poorly of someone behind their back, criticizing them to others without directly confronting them?</TableCell></TableRow>
        <TableRow><TableCell>Do I look down upon others who have chosen different career paths, travel destinations, or leisure activities?</TableCell></TableRow>
        <TableRow><TableCell>When interacting with strangers and those who are displaced, do I extend hospitality and kindness to them?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time you put in consistent effort to accomplish something important, without expecting immediate external rewards?</TableCell></TableRow>

    </TableBody>
</Layout>
