---
import Layout from "@/layouts/Layout.astro"
import {
    Table,
      TableBody,
      TableCell,
      TableRow,
    } from "@/components/ui/table"
---
<Layout
    title="Unum Exemen"
    description="The ultimate Catholic Examination of Conscience for Single Dads."
    lastUpdated="2024-09-24">
    <h2 class="text-center">Examination for Single Dads</h2>
    <Table className="m-4">
    <TableBody>

        <TableRow><TableCell>Have I, through my words or actions, taken God's name lightly in conversation, without truly honoring His presence in my life?</TableCell></TableRow>
        <TableRow><TableCell>Did I intentionally choose to engage in leisure activities on Sundays, overlooking the importance of attending Mass and participating in spiritual growth?</TableCell></TableRow>
        <TableRow><TableCell>Did I intentionally decide to skip Mass on a Holy Day, compromising my commitment to faith and community obligations?</TableCell></TableRow>
        <TableRow><TableCell>In conversations where you use strong language, did you ever speak the name of Jesus as a byword or curse, perhaps in frustration or anger?</TableCell></TableRow>
        <TableRow><TableCell>Did I use divine language as a means to impress or intimidate others?</TableCell></TableRow>
        <TableRow><TableCell>Did I knowingly or unknowingly contribute to others having to work on a Sunday due to my own leisure activities?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my own desires and interests over spending quality time and contributing to the well-being of those closest to me?</TableCell></TableRow>
        <TableRow><TableCell>When paying others for work done, goods provided, or services rendered, did I ensure they received fair compensation for their time and effort?</TableCell></TableRow>
        <TableRow><TableCell>Did I deny God's existence when faced with situations that challenged my worldview, such as encountering conflicting scientific theories or philosophical arguments?</TableCell></TableRow>
        <TableRow><TableCell>Did I doubt God's existence when faced with challenges that tested my faith, such as periods of uncertainty or adversity in my life and career?</TableCell></TableRow>
        <TableRow><TableCell>Did I deny my faith when confronted with doubts about the Catholic Church's teachings?</TableCell></TableRow>
        <TableRow><TableCell>When considering your stance on abortion or euthanasia, have you ever found yourself in situations where someone close to you faced an unexpected and difficult pregnancy, or when a loved one's quality of life was severely impacted by a serious illness? Did you reflect on what principles guide your decision-making process when confronted with these types of moral dilemmas?</TableCell></TableRow>
        <TableRow><TableCell>When did I last borrow something that didn't belong to me without permission?</TableCell></TableRow>
        <TableRow><TableCell>Did I covet someone else's material possessions, such as gadgets or luxury items?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever felt envious or resentful towards someone else's spouse, possibly due to their perceived success or stability?</TableCell></TableRow>
        <TableRow><TableCell>When engaging in leisure activities, have I allowed impure content to influence my choices and potentially lead me away from what is virtuous?</TableCell></TableRow>
        <TableRow><TableCell>Did I provide false testimony when speaking about someone else's experiences or activities, knowing that they may have been exaggerated or entirely fabricated?</TableCell></TableRow>
        <TableRow><TableCell>When I allowed myself to feel frustrated or annoyed by circumstances beyond my control, did I let that anger consume me and lead me to act impulsively?</TableCell></TableRow>
        <TableRow><TableCell>Did I allow past hurts to fester into grudges against others, hindering my ability to love and forgive them as I strive to live out my faith?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time I felt angry enough to take revenge on someone, and what did I do about it?</TableCell></TableRow>
        <TableRow><TableCell>When did you last take time to rest and recharge, allowing yourself to reflect on your priorities and goals in life?</TableCell></TableRow>
        <TableRow><TableCell>Did I share confidential information about someone behind their back, damaging their reputation in the process?</TableCell></TableRow>
        <TableRow><TableCell>Did I spread rumors or engage in gossip that could have damaged someone's reputation?</TableCell></TableRow>
        <TableRow><TableCell>Did I overindulge in food and drink during social gatherings, such as concerts, festivals, or sporting events?</TableCell></TableRow>
        <TableRow><TableCell>When thinking about others, have I ever considered them as being less than fully human?</TableCell></TableRow>
        <TableRow><TableCell>Did I use derogatory language when speaking with others, possibly online or in social situations?</TableCell></TableRow>
        <TableRow><TableCell>When I was more focused on my career goals than considering how others might be affected, did I wish others to be deprived of something good?</TableCell></TableRow>
        <TableRow><TableCell>Have I judged others based on their social media profiles, appearances at events, or online communities they participate in?</TableCell></TableRow>
        <TableRow><TableCell>When considering how I treat others, did I take time to express genuine gratitude for all that they bring into my life?</TableCell></TableRow>
        <TableRow><TableCell>Have I given tacit approval to others who have chosen to marry outside of the Church, perhaps through my own actions or words?</TableCell></TableRow>
        <TableRow><TableCell>When encountering coworkers who seem to be struggling, do I sometimes take advantage of their difficulties for personal gain?</TableCell></TableRow>
        <TableRow><TableCell>Do I become overly attached to material possessions and wealth, potentially leading me to prioritize them over my spiritual well-being?</TableCell></TableRow>
        <TableRow><TableCell>Have I used my power and influence to manipulate others for personal gain?</TableCell></TableRow>
        <TableRow><TableCell>Have I compromised my personal integrity and values by prioritizing material success, social status, or peer approval over doing what is truly right?</TableCell></TableRow>
        <TableRow><TableCell>Did I allow myself to be preoccupied and distracted by fleeting pleasures, rather than focusing on what is truly important?</TableCell></TableRow>
        <TableRow><TableCell>Have I unfairly treated someone who holds a different viewpoint or status within my social circle?</TableCell></TableRow>
        <TableRow><TableCell>When discussing faith or Church teachings, do I shy away from sharing my genuine opinions to avoid conflict and instead prioritize maintaining harmony among others?</TableCell></TableRow>
        <TableRow><TableCell>Have you been dishonest with others for personal gain, such as lying about your accomplishments or exaggerating your skills to get ahead in your career?</TableCell></TableRow>
        <TableRow><TableCell>Did I speak poorly about someone in a conversation or social media post?</TableCell></TableRow>
        <TableRow><TableCell>When I encounter people who are struggling, do I actively help them without expecting anything in return?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize winning praise from my peers over honestly pursuing my passions and interests?</TableCell></TableRow>
        <TableRow><TableCell>When considering how I prioritize my free time and leisure activities, did I desire worldly experiences, such as traveling to new places, attending concerts or sporting events, and engaging in outdoor activities like hiking or biking, over cultivating a deeper understanding of my faith?</TableCell></TableRow>
        <TableRow><TableCell>Did I let my concern for appearances influence how I present myself on social media?</TableCell></TableRow>
        <TableRow><TableCell>Did I use my disposable income on excessive indulgences, neglecting meaningful investments in myself and my goals?</TableCell></TableRow>
        <TableRow><TableCell>In situations where frustration is building, have I allowed my emotions to cloud my judgment and impatience to get the better of me?</TableCell></TableRow>
        <TableRow><TableCell>Do I harbor resentful thoughts towards others who have wronged me?</TableCell></TableRow>
        <TableRow><TableCell>When I see others succeeding, do I feel a pang of jealousy or competitiveness?</TableCell></TableRow>
        <TableRow><TableCell>Do I become overly attached to acquiring and possessing things, such as tech gadgets, luxury items, or travel experiences?</TableCell></TableRow>
        <TableRow><TableCell>When engaging in outdoor activities, did I prioritize my own enjoyment and accomplishments over the well-being and experiences of those participating alongside me?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever helped someone take something that didn't belong to them, perhaps as part of a group project or online community, without considering the consequences?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time I exaggerated my skills or experiences to get ahead in my career, and what steps can I take today to ensure such actions are not repeated in the future?</TableCell></TableRow>
        <TableRow><TableCell>Did I judge others based on their social media presence or interests?</TableCell></TableRow>
        <TableRow><TableCell>Did I judge others based on their lifestyle choices?</TableCell></TableRow>
        <TableRow><TableCell>Do I look down upon others who prioritize different career goals, social interests, or spending habits than my own?</TableCell></TableRow>
        <TableRow><TableCell>When I encounter strangers and those who are displaced, do I take the opportunity to engage with them in a respectful and compassionate manner?</TableCell></TableRow>
        <TableRow><TableCell>Do I struggle to find motivation and initiative when faced with tasks that feel overwhelming or unfulfilling?</TableCell></TableRow>

    </TableBody>
</Layout>
