---
import Layout from "@/layouts/Layout.astro"
import {
        Table,
      TableBody,
      TableCell,
      TableRow,
    } from "@/components/ui/table"
---
<Layout
    title="Unum Exemen"
    description="The ultimate Catholic Examination of Conscience for Adult Male Early Career."
    lastUpdated="2024-09-24">
    <h2 class="text-center">Examination for Adult Male Early Career</h2>
    <Table className="m-4">
    <TableBody>
        <TableRow><TableCell>When did I last intentionally or unintentionally use God's name, such as saying "Oh my God" in casual conversation without truly intending to invoke His presence?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my faith and make time for Mass on a Sunday, even when it conflicted with other enjoyable activities?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my personal life and interests over attending Mass on a Holy Day of Obligation, treating it as just another regular day?</TableCell></TableRow>
        <TableRow><TableCell>Did I, when expressing frustration or anger, use language that diminishes the name and significance of Jesus?</TableCell></TableRow>
        <TableRow><TableCell>Did I use sacred names, titles, or attributes as idle expressions or for mockery?</TableCell></TableRow>
        <TableRow><TableCell>Did I ask others to make an unnecessary sacrifice, such as working on a Sunday, for my own convenience?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my responsibilities and commitments to loved ones over personal interests and desires?</TableCell></TableRow>
        <TableRow><TableCell>When I pay for goods and services, am I taking advantage of others by paying them less than what they're worth?</TableCell></TableRow>
        <TableRow><TableCell>Did I deny God's existence when I questioned my own faith during moments of stress and pressure in demanding work situations?</TableCell></TableRow>
        <TableRow><TableCell>Did I question my own understanding and trust in God's existence when faced with the rapid pace of technological advancements and societal changes that often leave me feeling uncertain about what is truly important?</TableCell></TableRow>
        <TableRow><TableCell>Did I deny my faith when others questioned it?</TableCell></TableRow>
        <TableRow><TableCell>Have I, in my support for or opposition to certain social and cultural issues, inadvertently contributed to an environment where abortion or euthanasia are seen as acceptable or necessary solutions?</TableCell></TableRow>
        <TableRow><TableCell>Did I take something that didn't belong to me, even if it seemed like an easy opportunity?</TableCell></TableRow>
        <TableRow><TableCell>Did I covet something that doesn't belong to me, like a colleague's raise or a friend's expensive gadget?</TableCell></TableRow>
        <TableRow><TableCell>Did I have a brief, harmless flirtation at a party that could be perceived as impropriety by someone else's spouse?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever consumed entertainment content that was contrary to my values, such as excessive violence, mature themes, or objectification?</TableCell></TableRow>
        <TableRow><TableCell>When did I last tell an intentional falsehood, and what motivated me to do so?</TableCell></TableRow>
        <TableRow><TableCell>Did I let frustrations and irritability consume me, causing harm to myself or others?</TableCell></TableRow>
        <TableRow><TableCell>When interacting with someone who disagreed with me, did I harbor resentment and refuse to forgive?</TableCell></TableRow>
        <TableRow><TableCell>Did I seek revenge against someone who wronged me, perhaps by posting negative comments about them on social media, spreading rumors, or engaging in passive-aggressive behavior?</TableCell></TableRow>
        <TableRow><TableCell>Did I spend time outdoors on Sunday, perhaps hiking or engaging in another physical activity?</TableCell></TableRow>
        <TableRow><TableCell>Did I share confidential stories about someone behind their back, even if it was meant as a funny story?</TableCell></TableRow>
        <TableRow><TableCell>Have I damaged someone's reputation by spreading rumors or false information, even if it was just among friends?</TableCell></TableRow>
        <TableRow><TableCell>Did I treat myself to excessive food or drink, perhaps after a night out with friends or while watching my favorite sports teams play?</TableCell></TableRow>
        <TableRow><TableCell>Have I, while enjoying outdoor activities and traveling to new places, ever thought of others as being less than human because they might hold different views or come from different backgrounds?</TableCell></TableRow>
        <TableRow><TableCell>Did I use profanity when joking with friends during a night out?</TableCell></TableRow>
        <TableRow><TableCell>Have I deprived others of opportunities to advance their careers, such as by holding back information that could have helped them succeed?</TableCell></TableRow>
        <TableRow><TableCell>Did I form opinions about others based on superficial aspects, such as their social media presence or physical appearance?</TableCell></TableRow>
        <TableRow><TableCell>When engaging in activities that bring me joy, such as playing sports with friends, attending concerts and music festivals, or trying new restaurants, am I truly grateful for all the blessings behind these experiences?</TableCell></TableRow>
        <TableRow><TableCell>Have I encouraged someone to marry outside of our faith, undermining its values and traditions?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever intentionally pushed others to conform to my own views or values, even if it meant disregarding their opinions or feelings?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time you felt anxious or uncertain about your financial future, and did you let those feelings influence your spending habits?</TableCell></TableRow>
        <TableRow><TableCell>Have I let my desire for power and control over others led me to treat them unjustly or disrespectfully, particularly in situations where I feel threatened or challenged?</TableCell></TableRow>
        <TableRow><TableCell>Have I prioritized personal reputation and social standing over genuine relationships and honest communication, even if it means sacrificing my integrity for temporary gain?</TableCell></TableRow>
        <TableRow><TableCell>Did I give in to impulses driven by the desire for fleeting pleasures, neglecting the importance of long-term well-being and virtuous living?</TableCell></TableRow>
        <TableRow><TableCell>Have I been mindful of the influences my child is exposed to, particularly those that may conflict with our family values?</TableCell></TableRow>
        <TableRow><TableCell>Have I allowed someone's voice to be silenced or overlooked, particularly in situations where I have authority or influence?</TableCell></TableRow>
        <TableRow><TableCell>Have I allowed my personal opinions and convictions to influence my willingness to speak up for what is right, even when it may be unpopular?</TableCell></TableRow>
        <TableRow><TableCell>When did I last intentionally misrepresent the truth to someone, perhaps for personal gain or to avoid responsibility?</TableCell></TableRow>
        <TableRow><TableCell>When speaking about others, did I ever intentionally say something that could be hurtful or damaging to their reputation?</TableCell></TableRow>
        <TableRow><TableCell>Did I harbor resentment towards someone who wronged me, rather than striving to forgive them and love them as God loves us?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize external validation and social standing over honest self-reflection and humility in my pursuit of personal growth?</TableCell></TableRow>
        <TableRow><TableCell>Have I prioritized pursuing worldly experiences, such as traveling and trying new things, over nurturing my spiritual growth and deepening my faith in God?</TableCell></TableRow>
        <TableRow><TableCell>Did I excessively concern myself with my appearance and physical attractiveness, even to the point of compromising my relationships and values?</TableCell></TableRow>
        <TableRow><TableCell>Did I use my desire for new experiences as an excuse to pursue wasteful and unnecessary activities?</TableCell></TableRow>
        <TableRow><TableCell>When interacting with people who are stressful or frustrating to be around, did I lose my patience and respond in a way that hurt or offended them?</TableCell></TableRow>
        <TableRow><TableCell>When I feel wronged or unjustly treated, am I tempted to harbor resentful thoughts towards those involved?</TableCell></TableRow>
        <TableRow><TableCell>Do I resent others' success as a personal failure, feeling threatened by their achievements?</TableCell></TableRow>
        <TableRow><TableCell>When I spend money on luxury items, does my desire to impress others sometimes cloud my judgment?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my own interests and personal growth over the needs and well-being of those around me, such as friends, colleagues, and loved ones?</TableCell></TableRow>
        <TableRow><TableCell>Did I encourage someone to steal something from me, then assist them in hiding it?</TableCell></TableRow>
        <TableRow><TableCell>Have I misrepresented myself to gain an advantage, such as exaggerating my skills or experience in order to get ahead in my career or social circle?</TableCell></TableRow>
        <TableRow><TableCell>Did I judge others based on their appearance, interests, or lifestyle?</TableCell></TableRow>
        <TableRow><TableCell>When criticizing others, did I speak about them as if they were less than me?</TableCell></TableRow>
        <TableRow><TableCell>Do I look down upon someone based on their job, interests, or lifestyle choices?</TableCell></TableRow>
        <TableRow><TableCell>When I encounter strangers and those who are displaced, am I genuinely willing to engage with them or take action in support?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time I allowed procrastination to hinder my personal and professional growth, leading me away from my goals?</TableCell></TableRow>

    </TableBody>
</Layout>
