---
import Layout from "@/layouts/Layout.astro"
import {
    Table,
      TableBody,
      TableCaption,
      TableCell,
      TableHead,
      TableHeader,
      TableRow,
    } from "@/components/ui/table"
---
<Layout
    title="Unum Exemen"
    description="The ultimate Catholic Examination of Conscience for Male College Student."
    lastUpdated="2024-09-24">
    <h2 class="text-center">Examination for Male College Student</h2>
    <Table className="m-4">
    <TableBody>
        <TableRow><TableCell>When was the last time you used God's name as a curse word, without thinking about its significance?</TableCell></TableRow>
        <TableRow><TableCell>Did I skip attending Mass on Sunday to prioritize sleeping in or catching up on gaming/YouTube videos?</TableCell></TableRow>
        <TableRow><TableCell>Did I deprioritize and skip Mass on a day when I had plans for gaming, concerts, or other activities that competed with my spiritual obligations?</TableCell></TableRow>
        <TableRow><TableCell>Have I, through my words and actions online, spoken the name of Jesus as a byword or curse in a way that dishonors His person?</TableCell></TableRow>
        <TableRow><TableCell>Did I use my faith as a means to judge others or excuse my own flaws?</TableCell></TableRow>
        <TableRow><TableCell>Did I make others work on a Sunday when we had planned activities?</TableCell></TableRow>
        <TableRow><TableCell>Have I disobeyed my parents' wishes for me when they expressed concern about my priorities and spending habits, such as my tendency to spend money on experiences rather than saving for long-term goals?</TableCell></TableRow>
        <TableRow><TableCell>Am I neglecting my responsibilities to others by prioritizing my own interests and activities?</TableCell></TableRow>
        <TableRow><TableCell>Have I unfairly charged my friends, acquaintances, or colleagues for goods or services that are supposed to be free?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time you questioned God's existence, perhaps due to feeling disillusioned by life events or struggles?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever questioned God's existence while exploring philosophical concepts online, perhaps through social media posts or YouTube videos discussing existential questions?</TableCell></TableRow>
        <TableRow><TableCell>When I denied my faith, did I deny that I was Catholic?</TableCell></TableRow>
        <TableRow><TableCell>When I consider my own views on taking life, is it consistent with God's will that I would support or even promote measures to end human life under any circumstances?</TableCell></TableRow>
        <TableRow><TableCell>Have I spoken disrespectfully to my parents, even if only in my heart or through my actions?</TableCell></TableRow>
        <TableRow><TableCell>Have I disobeyed my parents or guardians by prioritizing my own desires over their advice, especially when it comes to major life decisions such as education, career choices, or personal interests?</TableCell></TableRow>
        <TableRow><TableCell>Have I taken something that didn't belong to me, perhaps from someone's gaming setup or online account?</TableCell></TableRow>
        <TableRow><TableCell>Did I ever feel envious or resentful about someone else's possessions, such as a new gaming console, phone, or other tech gadget?</TableCell></TableRow>
        <TableRow><TableCell>In situations where I've encountered someone who is charming, confident, and outgoing online, especially in gaming communities or social media platforms, have I ever felt an unhealthy desire to pursue a romantic connection with them despite knowing they are married or in a committed relationship?</TableCell></TableRow>
        <TableRow><TableCell>Did I watch, listen to, or engage with entertainment that contained impure content, such as explicit language, mature themes, or indecent images?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time I intentionally distorted reality while sharing online content, such as gaming tutorials or vlogs, and did I exaggerate facts to make myself appear more impressive?</TableCell></TableRow>
        <TableRow><TableCell>Did I allow myself to become agitated or irritated while engaging in activities that brought me joy, such as playing video games, watching YouTube videos, or attending concerts?</TableCell></TableRow>
        <TableRow><TableCell>Did I hold onto resentment towards someone after a disagreement or perceived injustice?</TableCell></TableRow>
        <TableRow><TableCell>When seeking revenge against someone who has wronged me, did I take the time to reflect on whether my desire for vengeance was truly in line with God's teachings and mercy?</TableCell></TableRow>
        <TableRow><TableCell>Did I spend time on a Sunday doing something leisurely, such as gaming, watching videos, or attending an event?</TableCell></TableRow>
        <TableRow><TableCell>When speaking to someone about your friends, did you share something they said without their permission?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever shared or posted something online that could be hurtful to someone's reputation, even if it was just meant as a joke?</TableCell></TableRow>
        <TableRow><TableCell>Did I engage in excessive indulgence while enjoying social events, parties, or activities that involved consuming food and drinks?</TableCell></TableRow>
        <TableRow><TableCell>Did I ever consider people who hold different beliefs or values as being less deserving of respect and dignity?</TableCell></TableRow>
        <TableRow><TableCell>When did I last check myself for speaking with disrespect, particularly when engaged in online interactions, gaming communities, or discussions about topics that are important to me?</TableCell></TableRow>
        <TableRow><TableCell>Did I wish others to miss out on something enjoyable, like a new video game release or a concert ticket?</TableCell></TableRow>
        <TableRow><TableCell>When you look at social media, YouTube videos, or online communities related to your hobbies and interests, did I judge others based on their opinions, preferences, or actions?</TableCell></TableRow>
        <TableRow><TableCell>When was the last time I expressed genuine gratitude to others, whether it be for something small they did for me or a large favor?</TableCell></TableRow>
        <TableRow><TableCell>When considering others, have I subtly or openly discouraged someone's choice to pursue a non-traditional path in their faith, such as marrying outside of my own spiritual traditions?</TableCell></TableRow>
        <TableRow><TableCell>Have I used my influence or social status to bully, belittle, or mock others online or in person?</TableCell></TableRow>
        <TableRow><TableCell>Did I desire wealth and material possessions more than I desired to grow closer to God?</TableCell></TableRow>
        <TableRow><TableCell>Did I seek power and control in my digital interactions, compromising my relationships and reputation?</TableCell></TableRow>
        <TableRow><TableCell>When considering whether I may have compromised my integrity and reputation by excessively seeking to fit in with others, rather than standing firm in what is right.</TableCell></TableRow>
        <TableRow><TableCell>Did I spend more time and money on fleeting pleasures, such as gaming marathons or concerts, than I should have?</TableCell></TableRow>
        <TableRow><TableCell>Did I permit someone else to feel unfairly treated by me while competing in online gaming or streaming activities?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever avoided expressing my Christian values to others due to fear of being ridiculed or ostracized by friends and acquaintances who hold different views?</TableCell></TableRow>
        <TableRow><TableCell>Have I concealed the truth from others, perhaps by withholding information or distorting facts?</TableCell></TableRow>
        <TableRow><TableCell>Have I ever spoken negatively about someone online, in person, or through social media, and then felt bad about it afterwards?</TableCell></TableRow>
        <TableRow><TableCell>Have I allowed my love for others to be compromised by online conflicts, cyberbullying, or hurtful comments on social media?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my desire for social media validation and online fame over being honest with myself and others?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize entertainment and leisure activities over spiritual growth and development?</TableCell></TableRow>
        <TableRow><TableCell>Did I become overly concerned with my physical appearance and how others perceive me, potentially at the expense of genuine connections and deeper relationships?</TableCell></TableRow>
        <TableRow><TableCell>When I indulged my curiosity for entertainment and leisure activities, did I prioritize virtues like moderation and prudence over wasteful pursuits?</TableCell></TableRow>
        <TableRow><TableCell>When I feel frustrated or annoyed, especially during intense gaming sessions or while multitasking, do I lose my patience?</TableCell></TableRow>
        <TableRow><TableCell>When I feel wronged, hurt, or frustrated, am I tempted to think about getting revenge on others?</TableCell></TableRow>
        <TableRow><TableCell>Am I envious or resentful towards others' success, and does this envy motivate me to undermine their achievements?</TableCell></TableRow>
        <TableRow><TableCell>When I prioritize material possessions over meaningful relationships and experiences, do I find myself obsessing over acquiring more?</TableCell></TableRow>
        <TableRow><TableCell>Did I prioritize my own desires for entertainment and leisure over opportunities to help others, such as volunteering or engaging in community service?</TableCell></TableRow>
        <TableRow><TableCell>Have I helped someone steal digital content, such as games or music, from online platforms?</TableCell></TableRow>
        <TableRow><TableCell>Did I exaggerate my accomplishments online to impress others and gain their approval?</TableCell></TableRow>
        <TableRow><TableCell>Have I judged others for their interests, hobbies, or preferences?</TableCell></TableRow>
        <TableRow><TableCell>Did I speak poorly of someone online, causing them harm?</TableCell></TableRow>
        <TableRow><TableCell>When interacting with others who differ from you in their career choices, nationality, or other traits, do I look down upon them and view myself as superior?</TableCell></TableRow>
        <TableRow><TableCell>When interacting with strangers and those who are displaced, am I more concerned with their situation than my own comfort or convenience?</TableCell></TableRow>
        <TableRow><TableCell>When considering the possibility that I might be taking advantage of others' time or energy to get things done without putting in sufficient effort myself, do I see any signs that this tendency is present in my own behavior?</TableCell></TableRow>
        <TableRow><TableCell>Were you obedient to those in authority over you, such as parents, teachers, or leaders? Did you respectfully follow their guidance and advice when it was given?</TableCell></TableRow>

    </TableBody>
</Table>
</Layout>
