---
import Layout from '../../layouts/Layout.astro'
---
<Layout title="" description="" footerSticky={true}>
<div class="w-full flex flex-col items-center mt-12">
  <div class="w-full text-center ">
    <h1>A Catholic Examination of Conscience</h1>
    <h2>Demographic Demogrpahic Demographic</h2>
  </div>
  <div id="examen container" class="mt-12 flex flex-col xs:w-128 lg:w-[850px] items-start justify-start p-8">
    <div class="flex justify-evenly w-full">
      <div id="one"><p>Did I lie to my mother or father?</p></div>
      <div>delete</div>
    </div>
  </div>
</div>
</Layout>
